.piece {
  background-size: 35px 35px;
  background-repeat: no-repeat;

  width: 2.5vw;
  height: 2.5vw;
}
.piece-black-circle {
  background-color: rgb(58, 58, 58);
  border-radius: 50%;
}

.piece-black-triangle {
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
  border-bottom: 2vw solid rgb(58, 58, 58);
}

.piece-red-circle {
  background-color: red;
  border-radius: 50%;
}

.piece-red-triangle {
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
  border-bottom: 2vw solid red;
}

.suggested {
  background-color: rgb(95, 95, 255);
}
